.rl-utilities {
  line-height: 1em;

  & div.button-wrapper {
    clear: both;
    float: left;
    margin-bottom: 10px;
  }

  & span {
    float: left;
    &.small {
      max-width: calc(100% - 75px);
      display: inline;
    }
  }

  & .btn {
    margin-right: 0.5em;
    float: left;
    display: inline;
  }

}

.rl-utilities .button-wrapper:nth-child(2) .small {
  margin-top: .5em;
  max-width: 150px;
}

ul.rl-mainlinks {
  margin: 20px 0;
  padding: 0;
  column-gap: 5px;
  & li {
    list-style: none;
    & a {
      display: block;
      padding: 10px;
      margin-bottom: 5px;
    }
  }
}

ul.rl-collections {
  & li {
    font-weight: bold;
    & span.small {
      font-weight: normal;
    }
  }
}

.support-rubenstein {
  background: url(/sites/all/themes/dulcet/assets/images/striped-grey.png) repeat left top;
  padding: 20px;
}

/* Rubenstein primary nav                        */
/* applies to interior RL page dropdown menu too */
/* ============================================= */

.easy-breadcrumb a[href="/rubenstein"]:hover {
  position: relative;
  background-color: #a1b70d;
  padding: 10px 15px;
  margin: auto -15px;
  color: white;
}


.easy-breadcrumb a[href="/rubenstein"]:hover:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-top: solid 20px #a1b70d;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  z-index: 150;
}

.rl-menu-interior {
  position: relative;
}

.rl-menu-wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: -24px;
  left: 0;
  right: 0;
}

#rl-menu-full .rl-menu-wrapper {
  position: relative;
  width: auto;
  top: 0px;
}

.rl-menu {
  padding: 0 15px;
  position: relative;
  margin-bottom: 20px;
}

.rl-menu .rl-menu-title {
  background: #f5f5f5;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 100;
}

.rl-menu .rl-menu-title h1 {
  width: auto;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 4px;
  float: left;
  font-size: 27px;
  font-weight: 400;
}

#rl-menu-full .rl-menu .rl-menu-title h1 {
  width: 600px;
  font-size: 35px;
}


.rl-menu .rl-logo-banner {
  filter: invert(75%);
  height: 75px;
  float: left;
  margin-right: 15px;
  display: none;
}

#rl-menu-full .rl-menu .rl-logo-banner {
  display: block;
}

.rl-menu .navbar-default {
  background-color: #f5f5f5;
  border: none;
  border-bottom: 4px solid #a1b70d;
  color: #333 !important;
  margin-bottom: 0px;
}

#rl-menu-full .rl-menu .navbar-default {
  border-bottom: none;
}

.rl-menu .navbar-collapse {
  padding-left: 0;
  padding-bottom: 10px;
}

.rl-menu .navbar-default .navbar-nav > li a, .rl-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #555;
}

.rl-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: white;
}

.rl-menu .navbar-default .navbar-nav > li a:focus {
  background-color: transparent;
}

.rl-menu .navbar-default .navbar-nav > li a:hover {
  background-color: #a1b70d;
  color: white;
}

.rl-menu .navbar-default .navbar-nav > .open > a, .rl-menu .navbar-default .navbar-nav > .open > a:hover, .rl-menu .navbar-default .navbar-nav > .open > a:focus {
  background-color: #a1b70d;
  color: white;
}


.rl-menu .imgback {
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  background-size: cover;
  width: 512px;
  right: 0;
  margin-right: 15px;
  display: none;
}

#rl-menu-full .imgback {
  display: block;
}

#rl-menu-full .rl-menu-wrapper.collapse { /* don't hide or collapse the rl menu on RL home */
  display: block !important;
  height: auto !important;
}

.rl-menu .imgback.imgback-shadow {
  clip-path: polygon(50px 0, 70px 0, 20px 100%, 0 100%);
  z-index: 131;
  box-shadow: -30px 30px -30px 30px;
  background-color: #eee;
  opacity: 0.8;
}


.rl-menu .imgback.imgback-image {
  background-position: 50% 50%;
  clip-path: polygon(50px 0, 550px 0, 100% 100%, 0 100%);
  z-index: 130;
  background-color: #ddd;
}

.rl-menu button.navbar-toggle {
  background-color: #aaa;
}

.rl-menu button.navbar-toggle:hover {
  background-color: #ccc;
}

@media (max-width:1199px) and (min-width:992px) {
  #rl-menu-full .rl-menu .imgback {
    width: 350px;
  }
}

@media (max-width:991px) {
  #rl-menu-full .rl-menu .imgback {
    display: none;
  }

  .rl-menu .rl-menu-title h1, #rl-menu-full .rl-menu .rl-menu-title h1 {
    width: auto;
  }

}

/* RL Current Exhibits */
/* =================== */

.rl-exhibits-widget .views-row {
  margin-right: 8px;
  vertical-align: top;
}

.rl-exhibits-widget .item-list ul#rotate1 {
  clear: both;
  padding-top: 20px;
}

.rl-exhibits-widget .views-field-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* RL Homepage Blog Posts */
/* ====================== */

.vertical-blogs.rl-home-news ul li img {
  max-width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.vertical-blogs.rl-home-news ul li {
    min-height: 65px;
}

.vertical-blogs.rl-home-news ul li:nth-of-type(1n+5) {
    display: none;
}
