// Brand colors
// -----------------------------------------------------------------------------


$brand-primary:         #053482;
$brand-success:         #A1B70D;
$brand-warning:         #F09905;
$brand-danger:          #CC3300;
$brand-info:            #235F9C;


$dul-headers:           #001A57;
$dul-links:             #0062A0;
$dul-masthead:          #053482;

$border-radius-base: 0;

$font-size-base: 17px;


$btn-default-color:              #222;
$btn-default-bg:                 #ddd;
$btn-default-border:             $btn-default-bg;


