// Brand colors
// -----------------------------------------------------------------------------


$brand-primary:         #053482;
$brand-success:         #A1B70D;
$brand-warning:         #F09905;
$brand-danger:          #CC3300;
$brand-info:            #235F9C;


$dul-headers:           #001A57;
$dul-links:             #0062A0;


$brand-duke: yellow;


$border-radius-base: 0;

$font-size-base: 17px;
