// Brand colors
// -----------------------------------------------------------------------------


$brand-primary:         #053482;
$brand-primary-lighter: #c0cce0;
$brand-primary-darker:  #041b5e;

$brand-success:         #a1b70d; /* insufficient contrast as bg w/ white text */
$brand-success-lighter: #e7edc2;
$brand-success-darker:  #4a6007;

$brand-warning:         #F09905; /* insufficient contrast as bg w/ white text */
$brand-warning-lighter: #f3e3c2;
$brand-warning-darker:  #3c2c0b;

$brand-danger:          #9b1b02;
$brand-danger-lighter:  #e9cdc7;
$brand-danger-darker:   #6c1003;

$brand-info:            #235F9C;


$dul-headers:           #001A57;
$dul-links:             #0062A0;
$dul-masthead:          #053482;

$border-radius-base: 0;

$font-size-base: 17px;


$btn-default-color:              #222;
$btn-default-bg:                 #ddd;
$btn-default-border:             $btn-default-bg;


