.image-left {
  float: left;
  margin: 0 20px 20px 0;
}

.image-right {
  float: right;
  margin: 0 0 20px 20px;
}

.image-center {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.image-left-tight {
  float: left;
  margin: 0 12px 12px 0;
}

.image-right-tight {
  float: right;
  margin: 0 0 12px 12px;
}

.caption-left {
    float: left;
    margin: 0 20px 20px 0;
}

.caption-right {
    float: right;
    margin: 0 0 20px 20px;
}

.caption-left p,
.caption-right p {
  text-align: center;
  color: #666;
  border-top: 2px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 10px;
}

/* responsive captioned images */
@media (max-width: 768px) {

  .caption-left,
  .caption-right {
    width: 100% !important;
    text-align: center;
  }

  .caption-right img,
  .caption-left img {
    max-width: 100%;
    height: auto;
  }

}

.media-left, .media > .pull-left {
    padding-right: 20px;
}

.media-right, .media > .pull-right {
    padding-left: 20px;
}
