.image-right {
  float: right;
  margin: 0 0 20px 20px;
}

.image-left {
  float: left;
  margin: 0 20px 20px 0;
}

.image-right-tight {
  float: right;
  margin: 0 0 12px 12px;
}

.image-left-tight {
  float: left;
  margin: 0 12px 12px 0;
}

.caption-left {
    float: left;
    margin: 0 20px 20px 0;
}

.caption-right {
    float: right;
    margin: 0 0 20px 20px;
}

