// ==============================
// Default Lists in Content Area
// ==============================

// Define our own default bullet style using FontAwesome icons
// This might get tricky to define the exceptions


ul:not([class]):not([id]), ul.bullet-green, ul.bullet-gray, ul.bullet-blue, ul.list-styled {
  padding-left: 0;

  & li {
    list-style: none;
    padding-left: 1.0em;
    margin-bottom: 0.4em;
  }
  & > li:before {
    content: "\f111";
    font-family: FontAwesome;
    /*display: inline-block;*/
    display: block;
    margin-left: -2.3em;
    width: 2.3em;
    color: #888;
    font-size: 0.42em;
    vertical-align: middle;
    /*float: left;*/
    margin-top: 1em;
    position: absolute;
  }
}

// Exceptions to default list

#mast, .item-list, .search-resources-wrapper {
  & ul:not([class]):not([id]) {
    & li {
      padding-left: 0;
      margin-bottom: 0.5em;
    }
    & li:before {
      content: normal;
    }
  }
}

// Views rows
ul li.views-row {
  padding-left: 0 !important;
  margin-bottom: 0.5em !important;
}
ul li.views-row:before {
  content: none !important;
}



// Don't pad paragraphs in lists
// Authors sometimes do <li><p/></li>

li > p {
  margin: 0;
  padding: 0;
  display: inline;
}

// ===========================
// Lists from Feed Aggregator
// ===========================

.item-list ul {
  margin: 0;
  & li {
    margin-left: 0;
    margin-bottom: 0.5em;
    width: 100% !important;
    list-style: none;
    padding: 0;
  }
}

.more-link {
  text-align: left;
  font-style: italic;
  display: none;
} /* hide until it can be customized */

.hide-date span.date {
  display: none;
}


/* Override item list pager from Radix */
.item-list {
  & ul.pagination > li {
    display: inline;
  }
}


// ===========================
// List Group
// ===========================

ul.list-group {
  & li {
    list-style: none;
  }
}

// ===========================
// Custom Spacing
// ===========================

ul.spacing-none {
  & li {
    margin-bottom: 0;
  }
}
ul.spacing-sm {
  & li {
    margin-bottom: 0.4em;
  }
}
ul.spacing-md {
  & li {
    margin-bottom: 0.7em;
  }
}
ul.spacing-lg {
  & li {
    margin-bottom: 1em;
  }
}

ul.outdent li, ol.outdent.li {
  text-indent: -1.3em;
  padding-left: 1.3em;
}

// ===========================
// Custom Styled List Links
// ===========================
ul.pdflinks a {
  font-weight: bold;
  &:before {
      content: "\f1c1";
      display: inline-block;
      font-family: FontAwesome;
      font-weight: normal;
      color: #cc3300;
      margin-right: 0.3em;
      text-decoration: none;
      &:hover {
       text-decoration: none;
      }
  }
}



/* Views with Blog Images */

.item-list-blog-images ul {
margin: 0 0 0 0;
list-style: none;
}

.item-list-blog-images .views-field-description p {
display: none;
}

.item-list-blog-images .views-field-description img {
width:22%;
max-width: 75px;
height: 22%;
max-height: 75px;
float: left;
clear: left;
margin-right: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
}

.item-list-blog-images .views-field-title {
line-height: 1.1;
}

.item-list-blog-images .views-row {
overflow: hidden;
border-top: 1px dotted #ddd;
padding-top: 10px !important;
margin-top: 10px !important;
}

.item-list-blog-images .views-row .date {
/*color: #999;*/
color: #767676;
font-style: italic;
}


/* Views event display */

.views-field-description .displaydate,
.views-field-description .displaytime,
.views-field-description .event-location {
	font-style: italic;
}

.views-field-description .event-description {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #eee;
}

.page-edge-events .views-field-description .event-description {
	padding-top: 0;
	border-top: none;
}

.page-edge-events .view-event {
	display: block;
	margin-top: 1em;
}

/* blog grid display */

.blogs-grid #rotate1 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

@include breakpoint(md) {

  .blogs-grid #rotate1 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

}

.blogs-grid #rotate1 li {
  display: inline-block;
  margin-bottom: 30px;
  padding: 0 15px 0 15px;
  text-align: center;
}

/* only display 6 items! */
.blogs-grid #rotate1 li:nth-child(n+7) {
  display: none;
}

.blogs-grid #rotate1 li p {
  line-height: 1.2;
  margin-top: 5px;
}


/* adding some padding to definition list items */

dl dd {
  padding-bottom: .5em;
}
