/* JS masthead styles lazily copied from MadLib theme */
/* These exist to prevent a flash of unstyled content */
/* before the JS injected mast can get its styles */
/* Likely needs refinement to be more seamless in dulcet */

.zone-masthead {
  background: #053482;
  border-bottom: 1px solid #262626;
  padding-top: 0;
  height: 105px; /* SCA added 12/2016 */
}

#region-js-masthead {
  padding-top: 10px;
  overflow: hidden;
}

.dul-masthead-megamenu-temp {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -2px;
    text-align: left;
}

#region-js-masthead #region-myaccount {
  float: right;
  display: block;
  max-width: 130px;
}

@media screen and (min-width:480px) {

  #region-js-masthead #region-myaccount {
    float: right;
    display: block;
    max-width: 240px;
  }

}

#zone-masthead .dul-logo {
  display: block;
  position: absolute;
}

#zone-masthead .dul-logo img {
    padding: 5px;
    width: 130px;
}

#region-scoped-search-temp {
    display: none !important;
}

#dul-masthead-region-megamenu-temp {
  display: none;
}

#dul-masthead-region-megamenu-temp-mobile {
  display: block;
  position: absolute;
  top: 65px;
}



#dul-masthead-mobile-menu {
  position: absolute;
    background: #fff;
    padding: 20px;
    z-index: 100;
    border: 1px solid #003366;
    margin-left: 0;
    width: 45%;
}

#dul-masthead-mobile-menu li {
  padding: .5em;
  list-style: none;
}

#dul-masthead-nav-trigger-label {
    padding: 0 10px 5px 15px;
  color: #fff;
  font-size: 1.4em;
}

#dul-masthead-mobile-menu,
#dul-masthead-nav-trigger {
  display: none;
}

#dul-masthead-nav-trigger:checked + #dul-masthead-mobile-menu {
  display: block;
}

/* JS Masthead Overrides */
#dul-masthead-dul-megamenu .dul-masthead-nav-trigger:checked ~ .dul-masthead-mobile-menu {
  width: 50% !important
}

#dul-masthead-dul-megamenu #dul-masthead-logo {
  width: 130px;
}

#dul-masthead-dul-megamenu #dul-masthead-region-megamenu {
    margin: 15px 0 0 0 !important;
}

#dul-masthead-dul-megamenu .dul-masthead-megamenu .dul-masthead-menu-items {
  max-width: 910px !important;
}

#dul-masthead-dul-megamenu .dul-masthead-megamenu .dul-masthead-col_4 {
  width: 28% !important;
  margin-right: 3.333% !important;
}

#dul-masthead-dul-megamenu .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth .dul-masthead-primaryColumn {
  border-right: 1px dotted #ccc !important;
}

#dul-masthead-dul-megamenu .dul-masthead-megamenu div.dul-masthead-col_2  {
  width: 18.666% !important
}

#dul-masthead-dul-megamenu .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth {
  max-width: 1140px !important;
}


/* Masthead Overrides */

@include breakpoint(xs) {
  #dul-masthead-dul-megamenu #dul-masthead-logo {
    width: 130px;
  }
}

@include breakpoint(sm) {

  #dul-masthead-dul-megamenu .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth {
    border: none !important;
    background: none !important;
    padding: 0 !important;
  }

  #dul-masthead-dul-megamenu .dul-masthead-megamenu .dul-masthead-menu-items {
    border: 1px solid black;
    color: #000;
    padding: 15px 15px 15px 15px;
    background-color: #fff;

    max-width: 720px !important;
    display: block;
    overflow: hidden;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
  }

  #dul-masthead-dul-megamenu .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth ul li {
    display: block !important;
    font-size: 13px;
    padding-top: 10px;
    padding: 10px 12px 4px 12px;
  }

}

@include breakpoint(md) {

  #dul-masthead-dul-megamenu #dul-masthead-logo {
    width: 159px;
  }

  #dul-masthead-dul-megamenu .dul-masthead-megamenu .dul-masthead-menu-items {
    max-width: 940px !important;
  }

}

@include breakpoint(lg) {

  #dul-masthead-dul-megamenu .dul-masthead-megamenu .dul-masthead-menu-items {
    margin-right: 0 !important;
    margin-left: 22% !important;
  }

}
