// Styles for New Additions from Catalog Feeds
// ---------------------------------------------------------------------

#thumbLessWrapper {
  margin-top: 20px;
  margin-bottom: 15px;
  background: #eee;
  padding: 15px 6px 15px 15px;
}
ul#thumbLess {
  margin-left: 0;
}

.view-content .item-list img {
  max-width: 100%;
}
.view-content .item-list ul.new-additions {
  margin: 0;
  padding: 0;
}
.view-content .item-list ul.new-additions li {
    margin-left: 0;
    margin-bottom: 0.5em;
}
.view-content .item-list ul.new-additions li, ul#thumbLess li {
  width: 130px !important;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

div.smallerThumbs .view-content .item-list ul.new-additions li {
  width: 105px !important;
}

div.smallerThumbs .views-field-title {
  font-size: 14px;
}

div.smallerThumbs .views-field-author {
  font-size: 13px;
  line-height: 1.2em;
  margin-top: 0.5em;
}


/* increase contrast */

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: #707070;
}

#thumbLessWrapper .text-muted {
  color: #6a6a6a;
}
